@page "{id:int?}"
@model Mot_Marius_Lab2.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryData.Categories)
        {
            string selectedRow = "";
            if (item.ID == Model.CategoryID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CategoryData.Books != null)
{
    <h3>Books in Selected Category</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategoryData.Books)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Author.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}
